<h1>Edit an Actor</h1>
<%   d = Actor.find(params[:id]) %>
<form action="http://localhost:3000/update_actor/<%=params[:id]%>">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="string" name="name" value ="<%=d.name%>">
  </div>
  <div>
    <label for="bio">Bio:</label>
    <input id="bio" type="text" name="bio" value = "<%=d.bio%>">
  </div>
  <div>
    <label for="dob">DOB:</label>
    <input id="dob" type="string" name="dob" value = "<%=d.dob%>">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="string" name="image_url" value = "<%=d.image_url%>">
  </div>
    <button>Update Actor</button>
  </div>
</form>
